body{
    background-color: rgb(225, 232, 232);
}

.tic{
    background-color: green;
    height: 10vh;
}
.box2{
    height: 80vh;
}
.box2-1{
    background-color: rgb(217, 50, 50);
}
.box2-2{
    background-color: coral;
}
.box3{
    background-color: rgb(233, 22, 162);

}
.box3-1{
    background-color: darkgray;

}
.box3-2{
    background-color: darkkhaki;
}
.container{
    background-color: deepskyblue;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 4fr 4fr 4fr  ;
}
/*medidas de la cuadricula*/
.measure{
    width: 45vh;
    height: 45vh;
}
.luz{
 padding-top: 6vh;
}




