body{
    background-color: rgb(225, 232, 232);
}

.tic{
    background-color: black;
    height: 10vh;
    font-family: 'Press Start 2P', cursive;
    color: rgb(32, 190, 32);
}
.box2{
    height: 80vh;
    color: rgb(32, 190, 32);
    font-family: 'Press Start 2P', cursive;
    background-color: black;
}
.box1{
    background-color: black;
    
}
.box3-1{
    background-color: rgb(84, 50, 50);
    font-family: 'Press Start 2P', cursive;
    color: rgb(32, 190, 32);

}
.box3-2{
    background-color: rgb(54, 54, 51);
    font-family: 'Press Start 2P', cursive;
    color: rgb(32, 190, 32);
}
.container{
    background-color: rgb(3, 3, 3);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 4fr 4fr 4fr;
    color: aliceblue;
}
/*medidas de la cuadricula*/
.measure{
    width: 45vh;
    height: 45vh;
}
.luz{
padding-top: 6vh;
}
a{
    text-decoration: none;
    color: rgb(32, 190, 32);
}




