body{
    background-color: black;
}
.Win{
    background-color: black;
    height: 10vh;
    font-family: 'Press Start 2P', cursive;
    color: rgb(32, 190, 32);
}
a{

    height: 10vh;
    font-family: 'Press Start 2P', cursive;
    text-decoration: none;
    color: aliceblue;
}